<div class="container">
    <form [formGroup]="loginForm">
        <div class="form-group row">
            <div class="col-2">
                <label for="userName">User Name:
                </label>
            </div>
            <div class="col-10">
                <input type="username" class="form-control" formControlName="userName" placeholder="User name">
                <div class="form-text text-muted"
                    *ngIf="loginForm.controls.userName.touched && loginForm.controls.userName.errors?.required">
                    Please enter user name
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label for="password">Password:
                </label>
            </div>
            <div class="col-10">
                <input type="password" class="form-control" formControlName="password" placeholder="Password">
                <div class="form-text text-muted"
                    *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">
                    Please enter password
                </div>
            </div>
        </div>
        <div class="d-flex flex-lg-column align-items-center">
            <button type="submit" class="btn btn-primary" (click)="onLogin()">Login</button>
        </div>
    </form>
</div>

<div *ngIf='loggedIn' class="d-flex flex-lg-column align-items-center">
    <img src="../../assets/loginsuccess.jpeg">
</div>